
<div class="seller-auth">
    <div class="sign-up">
        <h1>Seller Sign-Up</h1>
        <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="common-form">
            <input type="text" ngModel name="name" class="form-input" placeholder="Enter the Name">
            <input type="text" ngModel name="email" class="form-input" placeholder="Enter the Email">
            <input type="password" ngModel name="password" class="form-input" placeholder="Enter the password">
            <button class="form-button">Signup</button>
        </form>
    </div>
</div>